
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme</title>
    <h1>@ViewBag.name</h1>
   
</head>
<body>
</body>
</html>
